html, body {
  font-family: 'Open Sans', arial, sans-serif;
}

a {
  text-decoration: none;
}

.top,.down{
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.top {
  color: #efefef;
  width: 100%;
  height: 60%;
  float: left;
  text-align: center;
  overflow: hidden;
}

.top .top-img {
  background: url('../img/me1.jpg')center;
  background-size:cover;
  height: 60%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 06
  bottom: 0;
  left: 0;
}


.top .top-img:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #185a9d;
  background-image: linear-gradient(to left top, #2c3e50,#2c3e50);
  opacity: 0.85;
}


.top-content,.down-content{
  padding: 50px;
}

@media screen and (max-width: 400px) {
  .top-content,
  .down-content {
    padding: 40px;
  }
}

.top-content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 75%;
}

.top .info {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  position: absolute;
  top: 0;
  left: 2em;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 30%;
  margin: 0 auto;
  margin-top: 8%;
  color: white;
}

@media screen and (max-width: 1000px) {
  .top .info {
    margin-top: 200px;
  }
}

.top .info .name {
  font-weight: 500;
}

.top .info .social-media {
  margin-top: 10px;
}

.top .info .subtext {
  font-size: 20px;
}
.top .info .fa {
  margin: 10px;
  font-size: 24px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .top, .down {
    display: block;
    width: 100%;
  }
  .top {
    position: static;
  }
}

.down a {
  color: #000;
}

.down h4,
.down .content{
  display: inline-block;
  vertical-align: top;
}

.down h4 {
  width: 20%;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #ff6117;
  background-image: -webkit-linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  background-image: linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.down ul {
  padding: 0;
  margin: 0;
}

.down .content{
  width: 80%;
  padding: 0;
  margin: 0 0 50px;
  font-weight: 300;
  line-height: 1.5;
}



@media screen and (max-width: 600px) {
  .down h4,
  .down .content {
    display: block;
    vertical-align: top;
    width: 100%;
  }
}

.down .content ul.description {
  margin-top: 10px;
  font-size: 15px;
}

.down .introduction .intro-p:first-of-type {
  margin-top: 0;
}

.down .introduction .job-pls {
  font-weight: 500;
  background-color: #ff6117;
  background-image: -webkit-linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  background-image: linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}


.down .skills .skill-category {
  margin-bottom: 10px;
}

.down .skills .skill-category:last-of-type {
  margin-bottom: 0px;
}

.down .skills .skill-category > strong {
  text-transform: uppercase;
  font-size: 14px;
}

.down .education {
  font-size: 16px;
}

.down .education .university
{
  font-weight: 700;
  font-size: 16px;
}

.down .education .college {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
}

.down .education .major,
.down .education .minor,
.down .education .conc,
.down .education .study-abroad {
  font-size: 15px;
}

.down .education .major > strong,
.down .education .minor > strong,
.down .education .conc > strong,
.down .education .study-abroad > strong {
  font-weight: 500;
}

.down .education .study-abroad {
  margin-top: 10px;
}

.down .education .grad-date,
.down .education .grad-dateug {
  text-transform: uppercase;
  color: #aaa;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
}

.down .experience .exp-item {
  margin-bottom: 30px;
}

.down .experience .exp-item:last-of-type {
  margin-bottom: 0;
}

.down .experience .exp-item .job {
  margin: 0;
  font-weight: 700;
}

.down .experience .exp-item .duration {
  font-size: 13px;
  font-weight: 500;
  float: right;
  color: #aaa;
  text-transform: uppercase;
  position: relative;
  top: 1px;
  margin-bottom: 5px;
}

@media screen and (max-width: 340px) {
  .down .experience .exp-item .duration {
    float: none;
  }
}

.down .experience .exp-item .title {
  font-weight: 700;
  font-style: italic;
}

.down .projects .project-item {
  margin-bottom: 20px;
}

.down .projects .project-title {
  font-weight: 700;
}

.down .projects .project-desc {
  font-size: 15px;
  margin: 0 0 10px;
}

.down a.resume_web {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  transition: all 0.3s ease;
  float:left;
}

.down a.resume_data {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  transition: all 0.3s ease;
  float:right;
}


.down a.resume:hover {
  background-color: #f1f1f1;
}

.down a.resume_web .resume-link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ff6117;
  background-image: -webkit-linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  background-image: linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.down a.resume_data .resume-link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ff6117;
  background-image: -webkit-linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  background-image: linear-gradient(45deg,#ff6117 0%,#ffa700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}